html{
  font-family: 'Open Sans', sans-serif;
}
/* SEC 1 */
section.sec1 {
  padding: 200px;
  width: 100%;
  height: 110vh;
  background: url('../wallpaper/1511.jpg');
  background-size: cover;
  background-position: center;
}
section.sec1 .row .content {
  font-family: 'Staatliches', cursive;
  color : white;
  text-shadow: 1px 1px 5px #000;
}
section.sec1 .ui {
  padding: 20px;
  margin: auto;
  background: #fff;
  border: 1px solid white;
  border-radius: 10px;
  width: 600px;
}
section.sec1 .row .content {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 40px;
  top: -250px;
  left: auto;
}
section.content {
  margin:0px;
  padding: 0px;
  width: auto;
}
section.content .label1 {
  margin: 0 auto;
  width: 800px;
}
section.content .label1 .skill h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
section.content .label1 .row .Vue {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 40px;
}
section.content .label1 .row .Js {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
}
section.content .label1 .row .HTML {
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 40px;
}
section.content .label1 .row .Boot{
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 40px;
}
section.content .label1 .row .Node{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 40px;
}
section.content .label1 .row .Seq {
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 40px;
}
section.content .label1 .row .Mongo {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
}
section.content .label1 .row .Sql {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 40px;
}
section.content .label1 .row .Design {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 40px;
}
section.content .label1 .row .Linux {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 40px;
}
section.content .label1 .row .Wp {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 40px;
}
section.content .label1 .row .Drink {
  margin-top: 10px;
  margin-left: 28px;
  margin-bottom: 40px;
}
section.content .well {
  margin-top: 50px;
}
section.sec1 .ui p {
  text-align: left;
}
/* CONTENT */
.content{

  text-align: justify;
  font-size: 10px;
  line-height: 25px;
  width: 900px;
  margin: 40px auto;
}
.content .label1 span{
  padding-left: 10px;
  margin:10px;
}

.content .well {
  margin: 0 auto;
  background: #fff;
  position: relative;
  left: auto;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 50px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  font-size: 15px;
  width: 800px;
}
.content .well .title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}
.content .well .data3 {
  margin: 0 auto;
  text-align: center;
}
.box{
  margin-top: 0px;
  padding:0px 0px;
}
.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.box-part span{
  font-size: 15px;
}
.text{
  margin:20px 0px;
}
.fa{
  padding-bottom: 10px; 
  color:#4183D7;
}
.containerBefore {
  padding-top: 50px;
}
.containerBefore h1{
  font-size: 40px;
  color: white;
}
.containerAfter {
  margin: 10px auto;
  padding-top: 100px;
  width: 550px;
  color: white;
}
.containerAfter h1{
  font-size: 40px;
}
.containerAfter small{
  line-height: 0px;
  font-size: 15px;
}
input{
  width: 50%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
button{
  color: white;
  width: 51%;
  line-height: 2em;
  font-family: 'Ubuntu', sans-serif;
  margin: 0em 2em;
  background-color: chartreuse;
  outline: none;
  border-radius: 5px;
  border: 2px solid chartreuse;
}
.url{
  padding-top: 20px;
  color: white;
}

/* Card CSS */
/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#card2 {
  margin-top: 200px;
}
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
}

.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}
.backside .card .card-body{
    padding: 70px;
}
.backside .card .card-body .card-text{
    text-align: center;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

footer .footer .container {
  position:fixed;
  right:10px;
  bottom:10px;
  color:#fff;
  text-align: center;
}

/* EXPERIENCE */

/*--work--*/

.skill_info_wthree_agile {
  margin: 0 auto;
  width: auto ;
  padding: 20px 0px;
}
.work-info {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}
.work-info h4 {
  margin: 0 auto;
  font-size: 1.2em;
  padding: .4em 1.2em;
  color: #fff;
  position: relative;
  background: #4183D7;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  box-shadow: 0 8px 18px 0 rgba(3, 48, 117, 0.2), 0 4px 7px 0 rgba(0, 0, 0, 0.19);
}
.work-info h4:before {
  float: left;
  margin: 0 auto;
  width: auto;
  height: auto;
  position: absolute;
  content: '';
  top: 9px;
  right: -10px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #4183D7;
}
.work-info p {
  text-align: left;
  margin: 0 auto;
  padding-bottom: 10px; 
}
.work-info h5 {
  text-align: left;
  margin: 0px auto;
  padding-top: 20px;
}



/* END */


@media only screen and (max-width: 1024px) {
  
  section.content .label1 {
    margin-left: -35px;
  }
  section.sec1 {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
  }
  section.sec1 .ui {
    position: absolute;
    top: 250px;
    left: 150px;
    margin: 0px;
    width: 500px;
  }
  section.sec1 .row {
    width: 100%;
  }
  section.sec1 .row .content {
    text-align: center;
    top: -120px;
    font-size: 30px;
    left: auto;
  }
  section.content {
    margin: 0 auto;
    width: 700px;
  }
  .content .well {
    left: -30px;
    margin: 0px auto;
    padding: 0px;
  }
  section.sec1 .image-flip{
    margin-left: 35px;
  }
  .skill_info_wthree_agile {
    margin: 0 auto;
    width: auto;
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 887px) {
  section.sec1 .image-flip{
    margin-left: 35px;
  }
  section.sec1 {
    margin-top: 0px !important;
    width: 100%;
  }
  section.sec1 .row{
    padding: 0px;
    width: 100%;
  }
  section.sec1 .ui {
    top: auto;
    left: auto;
  }
  section.sec1 .ui p{
    text-align: center;
    margin-left: -150px !important;
  }
  section.sec1 .ui.items .content {
    margin-left: 135px !important;
  }
  section .label1 {
    width: 500px;
  }
  section.sec1 .row .content {
    display: none;
  }
  section.sec1 .row {
    font-size: 10px;
  }
  .content {
    width: 100%;
    margin-left: 35px;
  }
  section.sec1 .row {
    width: 100%;
  }
  .content .well {
    left: 0px;
    width: 700px;
    margin: 0px auto;
    padding: 0px;
  }
  section.content .label1{
    margin-top: 30px;
    margin-left: 30px;
    width: 700px;
  }
  section.content .row {
    width: 100%;
  }
  .skill_info_wthree_agile {
    margin: 0 auto;
    width: auto;
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 414px) {
  section.sec1 .row {
    width: 100%;
  }
  section.sec1 .image-flip{
    margin-left: 35px;
  }
  section.content {
    margin: 0px;
    width: 100%;
  }
  section.content .well {
    margin-left: 40px;
    margin-bottom: 30px;
  }
  section.content .well {
    width: 300px;
  }
  section.content .label1 {
    width: 100px;
  }
  section.content .label1 .row{
    margin-left: 70px;
  }
  section.content .label1 .skill {
    width: 100px; 
  }
  h1{
    margin: 0px;
    width: 300px;
  }
  .row {
    width: 100%;
    padding: 0px;
  }
  .row #card2 {
    padding: 0px;
  }
  .sec-title h3 {
    font-size: 20px;
  }
  .sec-title h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 360px) {
  section.sec1 .row {
    width: 100%;
  }
  section.sec1 .image-flip{
    margin-left: 35px;
  }
  section.content {
    width: 100%;
    margin: 0px;
  }
  section.content .well {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  section.content .well {
    width: 300px;
  }
  section.content .label1 {
    margin-left: 5px;
    width: 100px;
  }
  section.content .label1 .row{
    margin-left: 70px;
  }
  section.content .label1 .skill {
    width: 100px; 
  }
  h1{
    margin: 0px;
    width: 300px;
  }
  .row {
    width: 100%;
    padding: 0px;
  }
  .row #card2 {
    padding: 0px;
  }
}
@media only screen and (max-width: 320px) {
  section.content .well {
    margin-left: 10px;
    margin-bottom: 30px;
  }
}
